
body {
	background-color: #000000;
	margin: 0px 0px;
}

.navigationBar {
	display: flex;
	justify-content: space-around; 
	background-color: #09015f;
	padding-top: 0px;
	margin: 0px;
} 

.elements {
	padding: 20px;
}

.elements a {
	color: white;
	text-decoration-line: none;
}

a : hover {
	background-color: red;
}

#about {
	color: white;
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
	font-size: 30px;
	text-align: left;
	padding-bottom: 20px;
	height: 700px;
	
}

#contact {
	display: flex;
	background-color: #a4ebf3;
	height: 500px;
	padding-top: 10%;
}

h1 {
	/*color: #440a67 ;*/
	color: white;
	text-align: left;
	font-size: 60px;
	padding-top: 15%;
	padding-left: 100px;
	background: url(https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);
	background-repeat: no-repeat;
	height: 1000px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.footer {
	display: flex;
	justify-content: center;
	margin-left: 100px;
}

.aboutme  {
	display: flex;
	text-align: center;
	background: red;
	margin-right: 40%;
	margin-left: 10%;
	margin-bottom: 60%;
	margin-top: 0px;
	padding-left: 20px;
	padding-top: 20px;
	border-radius: 50%;
}

.profile img {
	margin: 0px;
	padding-right: 15%;
	height: 450px;
	border-radius: 50px;
}

h2 {
	text-align: center;
	padding-left: 20px;
}

.Links {
	padding-left: 400px;
}